<!--{{titulo}}-->

<style>
  .cuadro {
    background-color: #019BE1;
  }
</style>

<!--
<ul>
  <li *ngFor="let logro of logros">
    {{logro.title}}
  </li>
</ul>
-->

<!-- Toolbar -->
<div class="cuadro" style="width: 100%; height: 100vh;">
  <div style="text-align: left;font-weight: bold;font-size: 20px;">
    <span style="color: white;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;_______</span><br>
    <span style="color: white;">&nbsp;&nbsp;&nbsp;&nbsp;Gerencia Operaciones y </span><br>
    <span style="color: white;">&nbsp;&nbsp;&nbsp;&nbsp;Tecnología</span>
  </div>

  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>

  <div style="text-align: center; font-size: 35px">
    <span style="color: white; font-weight: bold;">Mis Documentos</span><br>
    <span style="color: yellow;">Propuesta de Upload de documentos para CLA</span>
  </div>

  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>

  <div style="text-align: right;">
    <img style="width:20%;height:20%;" src="assets/logo1.png">&nbsp;&nbsp;&nbsp;&nbsp;
  </div>

</div>s