<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>

<head>
    <title></title>
    <meta charset="utf-8">

    <style type="text/css">
        html {
            text-align: center;
        }

        table {
            margin-left: auto;
            margin-right: auto;
        }
    </style>

</head>

<body>

    <br>

    <div>
        <table style="border: hidden;width:90%">

            <tbody style="border: hidden">

                <tr style="border: hidden">

                    <td style="width: 30%; vertical-align: top; text-align: left;"><img src="assets/logo1.png"></td>

                    <td style="width: 30%; vertical-align: bottom; text-align: center;">
                        <h1>Mis Documentos</h1>
                    </td>

                    <td style="width: 30%; vertical-align: top; text-align: right;"><img src="assets/cerrar.png"></td>

                </tr>

            </tbody>

        </table>
    </div>

    <br>
    <br>

    <div>
        <table style="border: hidden;width:50%; margin-left: 10%; margin-right: auto;">

            <tbody style="border: hidden">

                <tr style="border: hidden">

                    <td style="width: 15%;">Rut: </td>

                    <td style="width: 25%;"><input class="form-control" type="text" size="15" maxlength="30" value="12.123.123-k"></td>

                    <td style="width: 15%;">Nombre: </td>

                    <td style="width: 25%;"><input class="form-control" type="text" size="15" maxlength="30" value="John Wick"></td>

                </tr>

            </tbody>

        </table>
    </div>

    <br>
    <br>
    <h2 style="text-align: left; margin-left: 10%;">Cargar:</h2>
    <br>

    <div>
        <table style="border: hidden;width:40% ;margin-left: 10%; margin-right: auto;">

            <tbody style="border: hidden">

                <tr style="border: hidden">

                    <td style="border: hidden;" >Nombre del archivo: </td>

                    <td style="border: hidden;text-align: right;width: 40%" ><input class="form-control" type="text" size="25" maxlength="30"
                            placeholder="Copia del carnet"></td>

                    <td style="border: hidden; text-align: left;vertical-align: middle;" ><a title="Subir Archivo"><img src="assets/subir.png"/></a></td>

                </tr>

            </tbody>

        </table>
    </div>

    <br>
    <br>
    <h2 style="text-align: left; margin-left: 10%;">Cargados:</h2>
    <br>

    <div class="container">
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th height="80" scope="col">Nombre</th>
                        <th height="80" scope="col">Estatus</th>
                        <th height="80" scope="col">Última Actualización</th>
                        <th height="80" scope="col">Archivo</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td height="50">Liquidaciones</td>
                        <td height="50"><a title="Ok"><img src="assets/ok.png" /></a></td>
                        <td height="50">17-03-2020</td>
                        <td height="50"><img src="assets/pdf.png" /></td>
                    </tr>
                    <tr>
                        <td height="50">Vigencia Laboral</td>
                        <td height="50"><a title="Por Revisión"><img src="assets/pendiente.png" /></a></td>
                        <td height="50">19-03-2020</td>
                        <td height="50"><img src="assets/jpg.png" /></td>
                    </tr>
                    <tr>
                        <td height="50">Certificado Estudio</td>
                        <td height="50"><a title="No Ok"><img src="assets/not.png" /></a></td>
                        <td height="50">20-03-2020</td>
                        <td height="50"><img src="assets/gif.png" /></td>
                        </tr>
                </tbody>
            </table>
        </div>
    </div>



</body>






</html>